# Git & Local IDE
.git
.gitignore
.vscode
.idea

# Node & Frontend
**/node_modules
**/dist
**/.env
**/.env.local

# Go & Database binaries
**/moneytrack.db
**/moneytrack.db-wal
**/moneytrack.db-shm
*.exe
*.test
